@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        
.font-poppins {
font-family: 'Poppins', sans-serif;
}

#app{
  background-image: url('/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
}

.pomo-btn {
  border: white 2px solid;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
  transition: 300ms;
  font-size: bold;
}

.pomo-btn:hover, .pomo-btn:focus{
  background-color: white;
  color: black;
}